<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="SureFirePlugin test">
        <classes>
            <class name="SureFirePlugin_test.FakeAppiumTest"/>

            <class name="SureFirePlugin_test.FakeRestAPITest"/>

            <class name="SureFirePlugin_test.FakeSeleniumTest"/>

        </classes>
    </test>
</suite>